body {
    max-width: 45em;
    margin: 0 auto;
    color: #333;
    font-family: serif;
    font-size: 100%;
}

table {border-collapse: collapse; margin: 0 auto;}
td, th {
    border: thin solid black;
    padding: 0.2em 0.4em;
    font-weight: normal;
}

img {max-width: 100%;}

h1,h2,h3,h4 {font-family: sans-serif;}
h1 {font-size: 2.5em;}
h1 + h2 {font-style: italic;}

p {line-height: 1.4;}

/* counter for headings */
h1 {counter-reset: kapitola;}
h2 {counter-reset: podkapitola;}
h3 {counter-reset: podpodkapitola;}
h2:before {
    counter-increment: kapitola;
    content: counter(kapitola) " ";
    counter-reset: tabulka;
}
h3:before {
    counter-increment: podkapitola;
    content: counter(kapitola) "." counter(podkapitola) " ";
}
h4:before {
    counter-increment: podpodkapitola;
    content: counter(kapitola) "." counter(podkapitola) "." counter(podpodkapitola) " ";
}
h2.no_toc:before {
    counter-reset: kapitola;
}
h2.no_toc:before,  h3.no_toc:before {
    content: "";
    counter-increment: none;
}

table > caption:before {
    counter-increment: tabulka;
    content: "Tabuľka " counter(kapitola) "." counter(tabulka) ": ";
}

#markdown-toc, #markdown-toc ol {list-style-type: none;counter-reset: ol-item;}
#markdown-toc > li:before, #markdown-toc ol > li:before {
    counter-increment: ol-item;
    content: counters(ol-item, ".");
    padding-right: 0.5em;
}
